.box{
    width: 100px;
    height: 50px;
    background: rgba(34,56,3,.6);
    position: relative;
    /* Chrome/Safari/Opera*/
    -webkit-animation-name: moveit;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    /*-webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;*/
    /*standard Syntax*/
    animation-name: moveit;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}
@-webkit-keyframes moveit{
    from { left: 30%;}
    to {left: 80%;}
}
@keyframes moveit{
    from { left: 30%;}
    to {left: 50%;}
}